language: cpp
dist: trusty
sudo: false
script: ./run-build.sh
compiler:
  - gcc
env:
  global:
    - NATIVE_CLIENT_VERSION=v4.0.0
    - CC=gcc-5
    - CXX=g++-5
  matrix:
    - TITUS_AGENT="-DTITUS_AGENT=ON .."
    - TITUS_AGENT=""
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5
      - zlib1g-dev 
      - uuid-dev 
      - libblkid-dev 
      - libpcre3-dev

